<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
head { font-family:Source+Sans+Pro&display=swap; font-weight: 200; text-align: center; border-style: solid; border: 2px black; border-radius: 5px;}
body { font-family:Source+Sans+Pro&display=swapr: rgba(221, 236, 248, 0.945); text-align:center};
h2 {border: 2px black; border-radius: 5px;color:rgb(63, 62, 62); border-style: solid; font-weight: bolder;}
p {font-family: Source+Sans+Pro&display=swap; color:navy}